body {
  min-width: 1200px;
  height: auto;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: insert(100%);

          clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.grey-back {
  background-color: #f2f2f2;
}

.background-index {
  position: relative;
  z-index: 1;
  height: 564px;
  margin-bottom: 60px;
  margin-top: -56px;
  background-image: url("../img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header,
.main-content,
.main-footer {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

/*-- Навигация --*/
.main-navigation {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

/*--Навигация на внутренней странице--*/
.site-navigation .site-navigation-current {
  color: #766357;
}

/*---Блок main---*/
.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

/*--<Блок преимуществ--*/
.feature-title {
  text-align: center;
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feature-item h3 {
  width: 151px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 24px;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.feature-item p {
  margin: 0;
  margin-bottom: 20px;
}

.feature-item-wide {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-wide h3 {
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantage-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantage-item {
  position: relative;
  width: 400px;
  max-height: 330px;
  padding-bottom: 82px;
  overflow-y: auto;
}

.icon-lodging::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-food::before {
  content: "";

  position: absolute;
  width: 74px;
  height: 70px;
  top: 62px;
  left: 162px;
  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-suvenirs::before {
  content: "";

  position: absolute;
  width: 64px;
  height: 76px;
  top: 57px;
  left: 167px;
  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.advantage-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  max-width: 152px;
  margin: 0 auto;
  margin-top: 161px;
  margin-bottom: 24px;
}

.advantage-item p {
  margin-bottom: 40px;
}

.feature-item-grey {
  background-color: #eeeeee;
}

.feature-item-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  background-color: #eeeeee;
}

.hotels-search {
  text-align: center;
}

.hotels-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:active {
  background-color: #ffffff;
  outline : 2px solid #e5e5e5;
}

.search-item input:focus {
  outline : 2px solid #e5e5e5;
}

.calendar-icon {
  background-color: transparent;
  fill: #cacaca;
}

.calendar-icon:hover {
  background-color: transparent;
  fill: #000000;
}

.calendar-icon:active {
  background-color: transparent;
  fill: #81b3d2;
}

.less-button,
.more-button {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #818181;

  background-color: #f2f2f2;
}

.less-button:hover,
.more-button:hover {
  color: #000000;
  background-color: #ebebeb
}

.less-button:active,
.more-button:active {
  color: #81b3d2;
  background-color: #ffffff;
  outline : 2px solid #e5e5e5;
}

.less-button:focus,
.more-button:focus {
  outline : 2px solid #e5e5e5;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #81b3d2;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/*--Каталог - внутренняя страница--*/
.inner-page {
  background-color: #ffffff;

}

.filters {
  min-height: 217px;
  margin-bottom: 29px;

  color: #ffffff;
  background-color: #457aa6;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter fieldset {
  padding-bottom: 0;
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item input[type="text"]{
  width: 87px;
  background-color: transparent;
  outline: 2px solid #ffffff;
}

.filter-item input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}

.filter-item input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

.filter-item input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
}

.filter-item input[type="text"]::placeholder {
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-info {
  padding-left: 71px;
}

.sorting fieldset {
  border: none;
}

.sorting ul {
  list-style: none;
}

.sorting-info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting a {
  color: #818181;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.current a {
  color: #81b3d2;
  border: none;
}

.sorting .sorting-marker-up,
.sorting .sorting-marker-down {
  border: none;
  fill: #cacaca;
}

.sorting .sorting-marker-up:hover,
.sorting .sorting-marker-down:hover  {
  border: none;
  fill: #231F20;
}

.sorting .sorting-marker-up:active,
.sorting .sorting-marker-down:active  {
  border: none;
  fill: #81b3d2;
}

.current .sorting-marker-up ,
.current .sorting-marker-down {
  border: none;
  fill: #81b3d2;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title h3:hover {
  color: #81b3d2;
}

.catalog-item-title h3:active {
  color: #818181;
}

.catalog-category,
.catalog-price {
  font-weight: 400;
}

.catalog-rating {
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.moreinfo-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.moreinfo-button:hover {
  background-color: #669ec0;
}

.moreinfo-button:active {
  color: #818181;

  background-color: #5496bd;
}

.booking-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #818181;

  background-color: #503e33;
}

.main-footer {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-list {
  list-style: none;
  padding-bottom: 5px;
}

.social-button svg{
  color: #ffffff;

  background-color: #81b3d2;
  fill: #ffffff;
}

.social-button:hover svg{
  background-color: #669ec0;
}

.social-button:active svg{
  color: #818181;


  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.copyright-button svg {
  fill: #231f20;
}

.copyright-button svg:hover {
  fill: #81b3d2;
}

.copyright-button svg:active {
  fill: #bdbbbc;
}

/*---Сеточные стили---*/
.container {
  display: block;
  position: relative;
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.footer-container {
  display: block;
  position: relative;
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0;
}

.inner-page .main-header {
  /*---отступ для фоновой картинки---*/
  margin-bottom: 0px;
}

.site-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  box-sizing: border-box;
  width: 20%;
  padding: 15px 0;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation li:nth-child(3) {
  margin-left: 20%;
  padding-right: 76px;
}

.main-header-logo {
  z-index: 1;
  position: absolute;
  width: 140px;
  height: 71px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.feature-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.feature-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-img {
  margin: 0;
  padding: 0;
}

.feature-img img {
  display: block;
}

.feature-item-wide {
  width: 400px;
  max-height: 256px;
  overflow-y: auto;
}

.feature-item .feature-promo {
  margin: 0 auto;
  padding: 0;
  width: 302px;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.feature-item-grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 400px;
  max-height: 256px;
  padding-bottom: 60px;
  overflow-y: auto;
}

.feature-item-grey .feature-promo {
  width: 261px;
}

.hotels-search b {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.hotels-search p {
  margin: 0 auto;
  width: 438px;
}

.feature-item {
  position: relative;
  z-index: 4;
}

.hotels-search {
  padding-top: 50px;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
}

.search-button {
  position: relative;
  margin-top: 48px;
  padding: 30px 139px;
  z-index: 4;
}

.modal-search-form {
  z-index: 3;
}

/*---Анимация всплывающего окна---*/
@keyframes bounce {
  0% {
    transform: translateY(-473px);
  }

  20% {
    transform: translateY(-373px);
  }

  40% {
    transform: translateY(-273px);
  }

  60% {
    transform: translateY(-173px);
  }

  80% {
    transform: translateY(-73px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*---Всплывающее окно---*/
.modal {
  position: relative;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.85);
          box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.85);
}

.modal-search-form {
  animation: bounce 0.5s;
}

.modal-none {
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}

.search-form {
  position: absolute;
  width: 456px;
  padding: 55px 55px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}

.search-item {
  position: relative;
  margin: 0;
  padding-bottom: 29px;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-item .calendar-icon {
  position: absolute;
  top: 6px;
  right: 2px;
  outline: none;
}

label {
  padding-top: 6px;
  padding-left: 0;
}

input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  padding: 6px 14px;
  padding-right: 40px;
  border: 0;
}

input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #000000;
}

input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #000000;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.less-button,
.more-button {
  width: 38px;
  border: 0;
}

.less-button {
  margin-left: 41px;
}

.children .less-button {
  margin-left: 25px;
}

input[type="number"] {
  width: 23px;
  margin: 0;
  padding: 6px 0;
  padding-left: 15px;
  border: 0;
}

.find-button {
    padding: 17px 196px;
}

.map-block {
  position: relative;
}

.map-block iframe {
  display: block;
  position: relative;
  frameborder: 0;
  border: none;
  z-index: 2;
}

.map-block img {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: -120px;
  z-index: 1;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 27px;
  padding-left: 60px;
}

.wrap {
  max-width: 254px;
  margin-right: 94px;
}

.wrap:last-child {
  max-width: 330px;
  margin-right: auto;
  margin-left: 228px;
}

.filter-title {
  margin-bottom: 20px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-checkbox {
  position: relative;
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    outline: 2px solid #81b3d2;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-disabled-off.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-disabled-off.svg"), url("../img/checkbox-disabled-on.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.value-title {
  margin-bottom: 5px;
}

.filter-section {
  position: relative;
  width: 314px;
  height: 32px;
  margin-bottom: 21px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-section::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background: #ffffff;
}

.filter-roller {
  position: relative;
  margin-bottom: 31px;
}

.filter-roller .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-roller .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filter-handle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-handle:hover {
  background: #1c4f80;
}

.filter-handle-min {
  left: 0;
}

.filter-handle-max {
  left: 80%
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-left: 97px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-section label {
  display: inline-block;

  cursor: pointer;
}

.filter-section .min-value {
  width: 90px;
  padding-top: 3px;;
  padding-left: 65px;
}

.filter-section .max-value {
  width: 90px;
  padding-top: 3px;;
  padding-left: 53px;
}

.filter-section input[type="text"] {
  width: 50px;
  height: 26px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sorting-title {
  margin-top: 7px;
  margin-left: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  margin-top: 7px;
}

.sorting-marker {
  margin-right: 31px;
}

.sorting-marker:hover {
  border: none;
}

.sorting-list {
  position: relative;
}

.sorting-marker-up {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 1px;
  left: 783px;
}

.sorting-marker-down {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 1px;
  left: 806px;
}

.sorting-list li:nth-child(3) {
  margin-right: 506px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.inner-image {
  flex-shrink: 0;
  margin-top: 29px;
  margin-bottom: 25px;
  margin-right: 30px;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}


.catalog-item-title h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 7px;
}

.catalog-category {
  display: inline-block;
  width: 112px;
  margin-bottom: 17px;
}

.moreinfo-button,
.booking-button {
  padding: 5px 17px;
  margin-right: 2px;
}

.inner-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-shrink: 0;
  margin-right: 71px;
}

.catalog-star ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
  list-style: none;
}

.star-current {
  width: 18px;
  height: 17px;
  margin-top: 30px;
  margin-right: 0;
  margin-left: 6px;
  background-image: url("../img/star.svg");
}

.catalog-rating {
  display: inline-block;
  margin-top: 47px;
  margin-left: auto;
  padding: 3px 14px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.footer-hashtag {
  padding-top: 45px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-social {
  max-width: 400px;
  min-height: 120px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 36px;
  margin: 0 auto;
  width: 150px;
}

.footer-social li {

  padding-bottom: 5px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-copyright p {
  padding-top: 31px;
  padding-left: 2px;
}

.footer-copyright svg {
  padding-top: 38px;
  padding-left: 7px;
}
