body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  color: #818181;

  background-color: #503e33;
}

.main-page {
  background-image: url("../img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*-- Навигация --*/
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

/*--Навигация на внутренней странице--*/
li .site-navigation-current {
  color: #766357;
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.feature-item {
  text-align: center;
  list-style: none;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.feature-item-wide {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-wide h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantage-item {
  list-style: none;
}

.advantage-icon-1 {
  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.advantage-icon-2 {
  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.advantage-icon-3 {
  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotels-search {
  text-align: center;
}

.hotels-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-icon {
  background-color: transparent;
  /*background-image: url("../img/calendar.svg");
  background-position: center right;
  background-repeat: no-repeat;*/
  fill: #cacaca;
}

.calendar-icon:hover {
  background-color: transparent;
  fill: #000000;
}

.calendar-icon:active {
  background-color: transparent;
  fill: #81b3d2;
}

.less-button,
.more-button {
  color: #818181;

  background-color: #f2f2f2;
}

.less-button:hover,
.more-button:hover {
  color: #000000;

  background-color: #f2f2f2;
}

.less-button:active,
.more-button:active {
  color: #81b3d2;

  background-color: #f2f2f2;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #81b3d2;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: #818181;

  background-color: #5496bd;
}

/*--Каталог - внутренняя страница--*/
.inner-page {
  background-color: #ffffff;

}

.filters {
  color: #ffffff;

  background-color: #457aa6;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter-item input {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-item input::placeholder {
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting fieldset {
  border: none;
}

.sorting ul {
  list-style: none;
}

.sorting-info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting a {
  color: #818181;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting .sorting-marker-current {
  color: #81b3d2;
  border: none;
}

.catalog-list {
    list-style: none;
}

.catalog-item-title h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title h3:hover {
  color: #81b3d2;
}

.catalog-item-title h3:active {
  color: #818181;
}

.catalog-category,
.catalog-price {
  font-weight: 400;
}

.catalog-rating {
  font-weight: 400;

  background-color: #f2f2f2;
}

.moreinfo-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.moreinfo-button:hover {
  background-color: #669ec0;
}

.moreinfo-button:active {
  color: #818181;

  background-color: #5496bd;
}

.booking-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #818181;

  background-color: #503e33;
}



.main-footer {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-list {
  list-style: none;
}

.social-button svg{
  color: #ffffff;

  background-color: #81b3d2;
  fill: #ffffff;
}

.social-button:hover svg{
  background-color: #669ec0;
}

.social-button:active svg{
  color: #818181;

  background-color: #5496bd;
  fill: #818181;
}


/*
.twitter-button {
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook-button {
  background-image: url("../img/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube-button {
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}
*/

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.copyright-button svg {
  fill: #231f20;
}

.copyright-button svg:hover {
  fill: #81b3d2;
}

.copyright-button svg:active {
  fill: #bdbbbc;
}
