body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  color: #818181;

  background-color: #503e33;
}

.main-page {
  background-image: url("../img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*-- Навигация --*/
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

/*--Навигация на внутренней странице--*/
.site-navigation .site-navigation-current {
  color: #766357;
}

/*---Блок main---*/
.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

/*--<Блок преимуществ--*/
.feature-title {
  text-align: center;
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feature-item h3 {
  width: 151px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 24px;
  padding: 0
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.feature-item p {
  margin: 0;
  margin-bottom: 20px;
}

.feature-item-wide {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-wide h3 {
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantage-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantage-item {
  position: relative;
  height: 330px;
}

.icon-lodging::before {
  content: "";

  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-food::before {
  content: "";

  position: absolute;
  width: 74px;
  height: 70px;
  top: 62px;
  left: 162px;
  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-suvenirs::before {
  content: "";

  position: absolute;
  width: 64px;
  height: 76px;
  top: 57px;
  left: 167px;
  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.advantage-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  max-width: 152px;
  margin: 0 auto;
  margin-top: 161px;
  margin-bottom: 24px;
}

.advantage-item p {
  margin-bottom: 40px;
}

.feature-item-grey {
  background-color: #eeeeee;
}

.feature-item-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  background-color: #eeeeee;
}

.hotels-search {
  text-align: center;
}

.hotels-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:active {
  background-color: #ffffff;
  outline : 2px solid #e5e5e5;
}

.calendar-icon {
  background-color: transparent;
  /*background-image: url("../img/calendar.svg");
  background-position: center right;
  background-repeat: no-repeat;*/
  fill: #cacaca;
}

.calendar-icon:hover {
  background-color: transparent;
  fill: #000000;
}

.calendar-icon:active {
  background-color: transparent;
  fill: #81b3d2;
}

.less-button,
.more-button {
  color: #818181;

  background-color: #f2f2f2;
}

.less-button:hover,
.more-button:hover {
  color: #000000;

  background-color: #f2f2f2;
}

.less-button:active,
.more-button:active {
  color: #81b3d2;

  background-color: #f2f2f2;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #81b3d2;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: #818181;

  background-color: #5496bd;
}

/*--Каталог - внутренняя страница--*/
.inner-page {
  background-color: #ffffff;

}

.filters {
  min-height: 218px;
  margin-bottom: 30px;

  color: #ffffff;
  background-color: #457aa6;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter fieldset {
  padding-bottom: 0;
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item input[type="text"]{
  width: 87px;
  background-color: transparent;
  outline: 2px solid #ffffff;
}

.filter-item input[type="text"]::placeholder {
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-info {
  padding-left: 71px;
}

.sorting fieldset {
  border: none;
}

.sorting ul {
  list-style: none;
}

.sorting-info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting a {
  color: #818181;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting .sorting-marker-current {
  color: #81b3d2;
  border: none;
}

.sorting .sorting-marker-up:hover,
.sorting .sorting-marker-down:hover  {
  border: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title h3:hover {
  color: #81b3d2;
}

.catalog-item-title h3:active {
  color: #818181;
}

.catalog-category,
.catalog-price {
  font-weight: 400;
}

.catalog-rating {
  font-weight: 400;

  background-color: #f2f2f2;
}

.moreinfo-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.moreinfo-button:hover {
  background-color: #669ec0;
}

.moreinfo-button:active {
  color: #818181;

  background-color: #5496bd;
}

.booking-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #818181;

  background-color: #503e33;
}

.main-footer {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-list {
  list-style: none;
}

.social-button svg{
  color: #ffffff;

  background-color: #81b3d2;
  fill: #ffffff;
}

.social-button:hover svg{
  background-color: #669ec0;
}

.social-button:active svg{
  color: #818181;

  background-color: #5496bd;
  fill: #818181;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.copyright-button svg {
  fill: #231f20;
}

.copyright-button svg:hover {
  fill: #81b3d2;
}

.copyright-button svg:active {
  fill: #bdbbbc;
}


/*---Сеточные стили---*/
.main-header {
  /*---отступ для фоновой картинки---*/
  margin-bottom: 568px;
}

.inner-page .main-header {
  /*---отступ для фоновой картинки---*/
  margin-bottom: 0px;
}

/*.main-page .main-navigation {
  display: flex;
}*/

/*.inner-page .main-navigation {
  display: flex;

  height: 56px;
}*/

/*.main-navigation {
  display: flex;
}*/

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.site-navigation li {
    padding: 15px 72px;
}

.site-navigation li:nth-child(3) {
  margin-left: 266px;
}

.container {
  position: relative;
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0;
}

.main-header-logo {
  z-index: 1;
  position: absolute;
  width: 140px;
  height: 72px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.feature-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.feature-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.feature-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 256px;
}

.feature-img {
  margin: 0;
  padding: 0;
}

.feature-img img {
  display: block;
}

.feature-item-wide {
  width: 400px;
  min-height: 256px;
}

.feature-item .feature-promo {
  margin: 0 auto;
  padding: 0;
  width: 302px;
}

.advantage-list {
  display: flex;
  flex-direction: row;
}

.advantage-item {
  min-width: 400px;
}

.feature-item-grey {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  min-height: 256px;
}

.feature-item-grey .feature-promo {
  width: 261px;
}

.hotels-search b {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.search-intro {
  margin: 0 auto;
  margin-bottom: 47px;
  width: 435px;
}

.search-button {
  padding: 30px 139px
}

/*---Всплывающее окно---*/
.modal {
  position: relative;
}

.search-form {
  position: absolute;
  width: 456px;
  padding: 55px 55px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}

.search-item {
  position: relative;
  margin: 0;
  padding-bottom: 29px;
}

.search-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-item .calendar-icon {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 7px;
  left: 421px;
  outline: none;
}

label {
  padding-top: 6px;
  padding-left: 0;
}

input[type="text"] {
  box-sizing: border-box;
  width: 346px;
  padding: 6px 14px;
  padding-right: 40px;
  border: 0;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #000000;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.less-button,
.more-button {
  width: 38px;
  border: 0;
}

.less-button {
  margin-left: 41px;
}

input[type="number"] {
  width: 23px;
  margin: 0;
  padding: 6px 0;
  padding-left: 15px;
  border: 0;
}

.find-button {
    padding: 17px 196px;
}

.map-block img {
  display: block;
  margin-bottom: -120px;
}

.filter {
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-left: 60px;
}

.wrap {
  max-width: 254px;
  margin-right: 94px;
}

.wrap:last-child {
  max-width: 330px;
  margin-right: auto;
  margin-left: 228px;
}

.filter-title {
  margin-bottom: 20px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

/*.filter-option:last-child {
  padding-left: 40px;
}*/

.value-title {
  margin-bottom: 5px;
}

.filter-section {
  position: relative;
  width: 314px;
  height: 32px;
  margin-bottom: 21px;

  /*font-size: 0;*/

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-section::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.filter-roller {
  position: relative;
  margin-bottom: 31px;
}

.filter-roller .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-roller .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filter-handle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-handle:hover {
  background: #1c4f80;
}

.filter-handle-min {
  left: 0;
}

.filter-handle-max {
  left: 80%
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-left: 97px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-section label {
  display: inline-block;

  cursor: pointer;
}

.filter-section .min-value {
  width: 90px;
  padding-top: 3px;;
  padding-left: 65px;
}

.filter-section .max-value {
  width: 90px;
  padding-top: 3px;;
  padding-left: 53px;
}

.filter-section input[type="text"] {
  width: 50px;
  height: 26px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.sorting {
  display: flex;
  flex-direction: row;

  /*margin-bottom: 29px;*/
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-value {
  display: flex;
  flex-direction: row;
}

.sorting-title {
  margin-top: 6px;
  margin-left: 48px;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 6px;
  margin-left:
}

.sorting-marker {
  margin-right: 31px;
}

.sorting-marker:hover {
  border: none;
}

.sorting-list li:nth-child(3) {
  margin-right: 476px;
}

.arrow {
  position: relative;
}

.sorting-list .sorting-marker-up {
  position: absolute;
  bottom: 6px;
  border: 6px solid transparent;
  border-bottom: 10px solid #cacaca;
}

.sorting-list .sorting-marker-down {
  position: absolute;
  top: 3px;
  left: 22px;
  border: 6px solid transparent;
  border-top: 10px solid #81b3d2;
}

.catalog {
  /*outline: 1px solid blue;*/
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.inner-image {
  margin-top: 29px;
  margin-bottom: 25px;
  margin-right: 30px;
}

.catalog-wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}


.catalog-item-title h3 {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 7px;
}

.catalog-category {
  display: inline-block;
  width: 112px;
  margin-bottom: 16px;
}

.moreinfo-button,
.booking-button {
  padding: 5px 17px;
  margin-right: 2px;
}

.inner-rating {
  display: flex;
  flex-direction: column;
  margin-right: 71px;
}

.catalog-star ul {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  list-style: none;
}

.star-current {
  width: 18px;
  height: 17px;
  margin-top: 29px;
  margin-right: 0;
  margin-left: 6px;
  background-image: url("../img/star.svg");
}

.catalog-rating {
  display: inline-block;
  margin-top: 45px;
  margin-left: auto;
  padding: 3px 14px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255,0.9);
}

.footer-hashtag {
  padding-top: 45px;
  max-width: 400px;
}

/*.social-list {
  display: flex;
  flex-direction: row;
}*/

.footer-social {
  max-width: 400px;
  min-height: 120px;
  text-align: center;
  vertical-align: middle;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  padding-top: 36px;
  margin: 0 auto;
  width: 150px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.footer-copyright p {
  padding-top: 31px;
  padding-left: 2px;
}

.footer-copyright svg {
  padding-top: 38px;
  padding-left: 10px;
}
